@use '../../../assets/variable.scss' as *;

p-card {
    padding: 1.5rem;
}

.input-group {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.error {
    color: $error-color;
    font-size: 0.8em;
    text-align: center;
}
  