@use '../../../assets/variable.scss' as *;

p-card {
    padding: 1.5rem;
}

.p-button {
    background-color: $primary-color;
    color: $font-primary-button-color;
    border: none;
}

.p-button:hover {
    background-color: $primary-color-dark;
}

.input-group {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.error {
    color: $error-color;
    font-size: 0.8em;
    text-align: center;
}
  