$primary-color: #0000FF;
$primary-color-dark: #0056b3;
$background-color: #f4f7fc;
$completed-color: gray;
$error-color: red;
$font-primary-button-color: #ffffff;

$text-color: #333;
$secondary-color: #e0e0e0;

$max-width: 30rem;

$font-family: 'Arial', sans-serif;
