@use 'assets/variable.scss' as *;
@import "primeicons/primeicons.css";

body { 
    font-family: $font-family;
    background-color: $background-color;
    max-width: $max-width;
    margin: auto;
    text-align: center;
}
