<app-task-list-filter (onFilterChange)="onFilterChange($event)" />

<p-table *ngIf="tasksArray?.controls" [value]="tasksArray.controls" class="tasks-table">
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 4rem">✅</th>
      <th>📋 {{ 'task_list.task_column' | translate }}</th>
      <th style="width: 5rem">🗑️</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-task let-index="rowIndex">
    <tr [formGroup]="task">
      <td>
        <p-checkbox
          [binary]="true"
          formControlName="complete"
          (onChange)="toggleTaskStatus(index)"
          [ariaLabel]="'task_list.task_completed' | translate"
        />
      </td>
      <td [ngClass]="{ completed: task.get('complete')?.value }">
        {{ task.get('label')?.value }}
      </td>
      <td>
        <p-button
          icon="pi pi-times"
          severity="danger"
          styleClass="p-button-sm"
          (click)="deleteTask(index)"
          [ariaLabel]="'task_list.delete_task' | translate: { taskName: task.get('label')?.value }"
        />
      </td>
    </tr>
  </ng-template>
</p-table>
